@media (min-width: 1200px) {
  .container {
    width: 970px;  /*change 1170 to 970*/
  }
}


.container-fluid,
.container {
  // Disable large-desktop breakpoint.
  //max-width: $screen-md;
}

body, p { font-family: $bodyfont;}

h1, h2, h3, h4, h5, h6, #menu li a 
{
	font-family: $headerfont;
}

a {color: $dark;}
a:hover { text-decoration: none;}


html {
    margin-top: 10px !important;
}


body{ margin-top: 165px;}