


 // ==========  Mobile First Method  ==========
 
// Custom remove fixed header on mobile
@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }
}


	/* Custom, iPhone Retina */


 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){ }

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
		body{ margin-top: 140px;}

		.navbar-header {
		    float: none;	
		    .logowrap{
		    	margin-top: 10px;
		    	.shrink & {
			    	margin-top: 4px;
			    }
		    }	
			.site-name {
			    font-size: 42px;
			    padding-bottom: 0;transition: height 0.5s ease;
			    .shrink & {
			    	float: left;
			    }
			}
			.sitedesc {
			    margin-top: 0px;
			    margin-bottom: 12px;
			    font-size: 18px;
				transition: height 0.5s ease 0s;
				margin-left: 5px;
			    .shrink & { 
			    	float: right;
					margin-top: 10px;
					transition: height 0.5s ease;
				}

			}

		}
		.navbar-default {
			.navbar-collapse, .navbar-form { 
				border-top: 4px solid $dark;
				border-bottom: 4px solid $dark;
				padding: 5px 0;
				margin: 0px;

			}
			.navbar-nav > li {
			border: none;
			margin-right: 18px;
		    background: $brand-primary; 
		    white-space: nowrap;
		    i {
		    	color: #fff;
		    }
			& > a {
		    color: $brand-primary;
		    display: inline-block;
		    padding:  1px 5px 0px;
		    border: none;
		    background: #fff;
		   &  > a:focus {
		   		background: $brand-primary;
		   		color: #fff;
			    }
			}
		}

		&.shrink .navbar-brand > img {
		    width: 100%;
		}
			// .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
			//     color: #FFF;
			//     background-color: #F00;
			// }


	}
	.rsUni .rsGCaption {font-size: 2em;}

		.fa-star::before{padding-right: 3px;}
			
		.sectors ul {
			//margin: 2em 0;
			 li {
			// 	&:nth-of-type(3n+1){
			// 	padding-left: 0;
			// 	padding-right: $grid-gutter-width;
			// 	}
			// 	&:nth-of-type(3n){
			// 		padding-right: 0;
			// 		padding-left: $grid-gutter-width;
			// 	}
				.desc h2 {font-size: 22px;}
			 }
		}
	}
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){ 
		
		.logowrap{white-space: nowrap;}
	}
 
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){ }