


 // ==========  Mobile First Method  ==========
 
// Custom remove fixed header on mobile
@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    }
}


	/* Custom, iPhone Retina */


 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){ }

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
		body{ margin-top: 203px;}

		.navbar-header {
		    float: none;		
			.site-name {
			    font-size: 100px;
			    padding-bottom: 0;transition: height 0.5s ease;
			    .shrink & {font-size: 55px;transition: height 0.5s ease;}
			}
			.sitedesc {
			    margin-top: 0px;
			    margin-bottom: 12px;
			    font-size: 20px;transition: height 0.5s ease;
			    .shrink & { display: none;transition: height 0.5s ease;}
			}

		}
		.navbar-default {
			.navbar-collapse, .navbar-form { border-bottom: none;}
			.navbar-nav > li {
			border: 1px solid #F60729;
			margin-right: 18px;
		    background: $brand-primary; 
		    white-space: nowrap;
		    i {
		    	color: #fff;
		    }
			& > a {
		    color: $brand-primary;
		    display: inline-block;
		    padding: 4px 10px 2px;
		    border: none;
		    background: #fff;
		   &  > a:focus {
		   		background: $brand-primary;
		   		color: #fff;
			    }
			}
		}

		&.shrink .navbar-brand > img {
		    width: 43%;
		    margin-top: 0.3em;
		}
			// .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
			//     color: #FFF;
			//     background-color: #F00;
			// }


	}

		.fa-star::before{padding-right: 3px;}
			
		.sectors ul {
			//margin: 2em 0;
			 li {
			// 	&:nth-of-type(3n+1){
			// 	padding-left: 0;
			// 	padding-right: $grid-gutter-width;
			// 	}
			// 	&:nth-of-type(3n){
			// 		padding-right: 0;
			// 		padding-left: $grid-gutter-width;
			// 	}
				.desc h2 {font-size: 22px;}
			 }
		}
	}
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){ 
		
		.logowrap{white-space: nowrap;}
	}
 
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){ }