// this page comes in before bootstrap so can't override any BS

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;



// Colors
$brand-primary: rgb(246,7,41); 
$brand-dark: darken( $brand-primary, 12);
$trans-dark: rgba( $brand-dark, .7 );
$dark:	#33305C;


$titlestrips: 55px;
$homeblocks: 155px;

.offscreen {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// Fonts

@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/Rockwell.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rockwell.woff') format('woff'), url('../fonts/Rockwell.ttf')  format('truetype'), url('Rockwell.svg#Rockwell') format('svg');
  font-weight: normal;
  font-style: normal;
}
$bodyfont:   sans-serif;
$headerfont:  'Rockwell', serif;




 $grid-gutter-width:         20px !default;
$half-gutter: $grid-gutter-width/2 ;
$double-gutter: $grid-gutter-width * 2;

// // Small screen / tablet
// $container-tablet:             (920px + $grid-gutter-width) !default;

// // Large screen / wide desktop
// $container-large-desktop:      (940px + $grid-gutter-width) !default;

