.navbar.shrink {
  max-height: 125px;
  transition: height 0.5s ease;
}

// .shrink a {
//   padding-top: 10px !important;
//   padding-bottom: 10px !important;
//   font-size: 15px;
// }


.navbar-brand{ 
height: auto;
padding: 0;
margin-top: 10px;
}

.navbar-brand > img {
    
//     margin-top: 1em;
// margin-right: 1em;
}
.navbar > .container .navbar-brand{margin-left: 0;}

.sitedesc{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 4.2vw;
	}
.site-name {
	font-size: 3em; 
	font-size: 14.4vw;
	margin-top: 10px;
	margin-bottom: 0;
	span{font-size: 1.2em;}text-decoration: none; 
	background: url(../images/line.png) no-repeat 80% 100%;
	padding-bottom: 4px;
	white-space: nowrap;
	background-size: contain;
	&:after {

	}
}


.navbar-default {
    background-color: white;
    border: none;
    padding: 0px 0 0;
    margin-bottom: 0;
    //border-bottom: $dark 4px solid;
    .navbar-nav {
	    margin: 0px ;
	    & > li > a {
	    color:$dark;
	    background:  #fff;
	    border: 1px solid white;
	    display: inline-block;
	    padding: 5px;
	    }
	}
	.navbar-toggle {

		color: #fff;
		padding: 3px 6px 3px 30px;
		background-size: contain;
		border: none;
		background: $dark none repeat scroll 0% 0%;

		width: 100%;
		color: white;
		text-align: left;
		margin-right: 0;
		margin-bottom: 0;
		&:hover {
			background: $brand-dark;
		}

	}
}


.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: red;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $dark;
    border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: 0px none;
}




.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: $dark;
    background-color: rgb(255, 255, 255);
    }
.navbar-nav > li.current-menu-item i.fa-star {
	color: $dark;
}

// #menu-main {
// 	text-align: left;
// 	display: flex;
// 	li{
// 		flex:1;
// 		a {
// 			font-family: $headerfont;
// 			font-size: 2em;
// 			  padding: 0;
			
// 		 }
// 		 &:first-of-type a{ padding-left: 0;}
// 		&:last-of-type a{padding-right: 0;}
// 	}flex:1;	
// }
// .nav > li > a:focus, .nav > li > a:hover {
//     background-color: transparent;
//  }










