// Front Page
.home .page-header {
	@extend .offscreen;
}
#new-royalslider-1{

}
.royalSlider {
    margin-bottom: 2em;
    	.rsContainer{border: 1px solid $brand-dark;}
	.rsContainer{border-color: $brand-dark;}
	.rsUni .rsGCaption {background-color: $brand-dark;}
  }
.rsUni, .rsUni .rsOverflow, .rsUni .rsVideoFrameHolder, .rsUni .rsThumbs {
    background: $brand-primary none repeat scroll 0% 0%;
}
.rsUni .rsGCaption {
	background: $trans-dark none repeat scroll 0% 0%;
	font-size: 2em;
}
//.rsFullscreen .rsSlide { background: #222 none repeat scroll 0% 0%;}

.sectors ul{
	list-style: none;
	padding-left: 0;
	margin: 2em -10px;
	li{
		@extend .col-sm-4 ;
		//@extend .col-md-3 ;
		//padding-left: 0;
		display: block;
		
		margin-bottom: 10px;
		

		.bgimg {
			background-position: right top ;
			background-size: auto 100%;
			height: $homeblocks;
			border: 1px solid $brand-primary;
		text-align: center;
		background-size: contain;
		}
		.desc {
			font-family: $headerfont;
			width: 39%;
			padding: 0 0 0 7px;
		    text-decoration: none;
		    color: $dark;
		    display: inline-block;
		    font-size: 2em;
		    border-right: 49px solid transparent;
		    border-bottom: ($homeblocks - 1) solid $brand-dark;
		    height: 0;
		    line-height: 26px;
			margin-right: 61%;
			margin-top: 0;
			background: transparent;
			color: white;
			h2 {
				font-size: 6vw;
				margin-top: 120px;
				padding-bottom: 4px;
				color: #fff;
				white-space: nowrap;
		}
			span {
				display: block;
				width: 130%;
			}
			
     
		}
		
	}
}





.page-header {
    margin: 0px;
    padding: 0px;
    border-bottom: 0px none;
}
